* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", "Helvetica";
}
#body {
  width: 100%;
  display: flex;
  justify-content: center;
}
#body > div:first-child {
  width: 90%;
  /* height: 70px; */
  /* border: 1px solid darkcyan; */
}

/* side */
#body > div:last-child {
  width: 5%;
  height: 300px;
  /* border: 1px solid rgb(184, 39, 7); */
  margin-top: 70px;
  display: grid;
  justify-content: center;
  position: sticky;
  top:20px;
}
#body > div:last-child img{
  border-radius: 50px;
  width: 30px;
  cursor: pointer;
}
/* #body > div:last-child>img:first-child{
  border-radius: 30px;
  width: 50px;
  cursor: pointer;
} */

.bodyHead {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 60%;
  padding: 10px;
}
.bodyHead > span:first-child img {
  border-radius: 50px;
  width: 50px;
  cursor: pointer;
}
.bodyHead > span:first-child {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.bodyHead > span:last-child > button {
  width: 80px;
  height: 40px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
.bodyHead > span:last-child > button:first-child:hover {
  background-color: rgb(239, 228, 228);
}
.bodyHead > span:last-child > button:last-child {
  border: none;
  color: white;
  background-color: rgb(234, 76, 137);
}
.bodyHead > span:last-child > button:last-child:hover {
  background-color: rgb(231, 123, 165);
}
.bodyImg {
  /* border: 1px solid red; */
  width: 84.5%;
  margin: auto;
}
.bodyImg img{
border-radius: 10px;
margin-bottom: 70px;
cursor: pointer;
}
.bodyImg > div {
  /* border: 1px solid red; */
  width: 60%;
  margin: auto;
  /* margin-top: 60px; */
  margin-bottom: 60px;
  font-size: 17px;
}
a{
    text-decoration: none;
    color: rgb(234, 76, 137);
    
}
#bodyBottom{
    margin: auto;
    width:80%;
    /* border: 1px solid green; */

}
#bodyBottom span:first-child{
   display: flex;
   justify-content: center;
}
#bodyBottom img{
    border-radius: 50px;
}
hr{
  margin-top: -40px;
  margin-bottom: 50px;
}
#bodyBottom span:last-child{
  text-align: center;
  line-height: 40px;
  display: block;
}
#bodyBottom span:last-child > button{
  border-radius: 8px;
  border: none;
  color:white;
  width:100px;
  height:40px;
  background-color: rgb(234, 76, 137);
  font-size: 17px;
  cursor: pointer;
  margin-top: 5px;
}

.MoreKretya{
  margin-bottom: 20px;
  margin-top: 50px;
}
.MoreKretya>div:first-child{
  display: flex;
  margin: auto;
  width:80%;
  justify-content: space-between;
}
.MoreKretya>div:first-child p{
  color: red;
  cursor: pointer;
}
.MoreKretya>div:first-child p:hover{
  color: rgb(186, 88, 88);
  cursor: pointer;
}
.MoreKretya>div:nth-child(2){
  display: flex;
  width:100%;
  gap:30px;
  margin-top: 10px;
  margin-bottom: 150px;
  justify-content: center;
}
/* .MoreKretya div{
  margin: auto;
} */

.MoreKretya>div:nth-child(2) img{
  width:250px;
  border-radius: 10px;
  cursor: pointer;
}
.MoreKretya>div:nth-child(3){
 display: flex;
width:80%;
margin: auto;
justify-content: center;
margin-bottom: 100px;
gap:10px;
align-items: center;
}
.MoreKretya>div:nth-child(3) button{
  width:20px;
  height:20px;
  border: 0.3px;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.tooltipText1{
  position: absolute;
  left: -140%;
  /* top: 7px; */
  transform: translate(-50%);
  background-color: black;
  color: white;
  white-space: nowrap;
  padding: 10px 15px;
  border-radius: 7px;
  /* transform: rotate(-90deg); */
  /* visibility: hidden; */
  opacity: 0;
  transition: opacity 0.5ms ease;
}
.tooltipText1::before{
  content: "";
  position:absolute;
  left: 110%;
  top: 10%;
  transform: translate(-100%);
  /* transform: rotate(-70deg); */
  border: 15px solid;
  border-color: #0000 #0000 #0000 #000;
}
.tooltipText1:hover{
  /* top:-130%; */
  visibility: visible;
  opacity:1;
}

/* .tooltipText2 */
.tooltipText2{
  position: absolute;
  left: -55%;
  top: 15%;
  transform: translate(-50%);
  background-color: black;
  color: white;
  white-space: nowrap;
  padding: 10px 15px;
  border-radius: 7px;
  /* transform: rotate(-90deg); */
  /* visibility: hidden; */
  opacity: 0;
  transition: opacity 0.5ms ease;
}
.tooltipText2::before{
  content: "";
  position:absolute;
  left: 125%;
  top: 15%;
  transform: translate(-100%);
  /* transform: rotate(-70deg); */
  border: 15px solid;
  border-color: #0000 #0000 #0000 #000;
}
.tooltipText2:hover{
  /* top:-130%; */
  visibility: visible;
  opacity:1;

}

/* .tooltipText3 */
.tooltipText3{
  position: absolute;
  left: -30%;
  top: 32%;
  transform: translate(-50%);
  background-color: black;
  color: white;
  white-space: nowrap;
  padding: 10px 15px;
  border-radius: 7px;
  /* transform: rotate(-90deg); */
  /* visibility: hidden; */
  opacity: 0;
  transition: opacity 0.5ms ease;
}
.tooltipText3::before{
  content: "";
  position:absolute;
  left: 135%;
  top: 15%;
  transform: translate(-100%);
  /* transform: rotate(-70deg); */
  border: 15px solid;
  border-color: #0000 #0000 #0000 #000;
}
.tooltipText3:hover{
  /* top:-130%; */
  visibility: visible;
  opacity:1;
}

/* .tooltipText4 */
.tooltipText4{
  position: absolute;
  left: -65%;
  top: 49%;
  transform: translate(-50%);
  background-color: black;
  color: white;
  white-space: nowrap;
  padding: 10px 15px;
  border-radius: 7px;
  /* transform: rotate(-90deg); */
  /* visibility: hidden; */
  opacity: 0;
  transition: opacity 0.5ms ease;
}
.tooltipText4::before{
  content: "";
  position:absolute;
  left: 122%;
  top: 15%;
  transform: translate(-100%);
  /* transform: rotate(-70deg); */
  border: 15px solid;
  border-color: #0000 #0000 #0000 #000;
}
.tooltipText4:hover{
  /* top:-130%; */
  visibility: visible;
  opacity:1;
}
/* .tooltipText5 */
.tooltipText5{
  position: absolute;
  left: -30%;
  top: 65%;
  transform: translate(-50%);
  background-color: black;
  color: white;
  white-space: nowrap;
  padding: 10px 15px;
  border-radius: 7px;
  /* transform: rotate(-90deg); */
  /* visibility: hidden; */
  opacity: 0;
  transition: opacity 0.5ms ease;
}
.tooltipText5::before{
  content: "";
  position:absolute;
  left: 135%;
  top: 15%;
  transform: translate(-100%);
  /* transform: rotate(-70deg); */
  border: 15px solid;
  border-color: #0000 #0000 #0000 #000;
}
.tooltipText5:hover{
  /* top:-130%; */
  visibility: visible;
  opacity:1;
}
/* .tooltipText6 */
.tooltipText6{
  position: absolute;
  left: -40%;
  top: 82%;
  transform: translate(-50%);
  background-color: black;
  color: white;
  white-space: nowrap;
  padding: 10px 15px;
  border-radius: 7px;
  /* transform: rotate(-90deg); */
  /* visibility: hidden; */
  opacity: 0;
  transition: opacity 0.5ms ease;
}
.tooltipText6::before{
  content: "";
  position:absolute;
  left: 126%;
  top: 15%;
  transform: translate(-100%);
  /* transform: rotate(-70deg); */
  border: 15px solid;
  border-color: #0000 #0000 #0000 #000;
}
.tooltipText6:hover{
  /* top:-130%; */
  visibility: visible;
  opacity:1;
}